<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View Friends</title>
</head>
<body>
    <a href="{% url 'friendapp:index' %}">Go back</a><br>
    Your Friend count: {{count}}<br>
    {%for friend in friends%}
    {{friend.first_name}} {{friend.last_name}} <a href="{% url 'friendapp:delete' friend.id%}">delete</a><br>
    {%endfor%}
</body>
</html>